nav {
  &.navbar.navbar-default {
    border-radius: 0;
    background-color: $color-white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

    .navbar-header {
      .navbar-brand {
      }
    }

    .nav.navbar-nav {
      li {
        a {
          .glyphicon {
            padding-right: 10px;
          }
        }
      }
    }
  }
}